{% extends "base.html" %}

{% block content %}
  <main class="container py-2">
    <section class="card-body">
    <div class="card" style="width: auto;">

        <div>
            <h1 class='display-3' br-2>Hiper Plan</h1>
            <p>
                Welcome to Task Creator!
                
                Please Create the Task for all workers 
            </p>

        <div>
            <a class='btn btn-dark' href='/signin/'>Sigin</a>
            <a class='btn btn-dark'  href='/signup/'>Signup</a>
        </div>
        </div>
        </div>
    </section>
  </main>
{% endblock %}